@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");

.navbar-brand {
  font-family: "Teko", sans-serif;
  font-size: 35px;
}

.font-time {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.font-teko {
  font-family: "Teko", sans-serif;
}

.font-robota {
  font-family: "Roboto", sans-serif;
}

.font-germania {
  font-family: "Teko", sans-serif;
  font-size: 45px;
}

.font-germania-h3 {
  font-family: "Teko", sans-serif;
  font-size: 35px;
}

#skill-section {
  padding-top: 15vh;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

p {
  font-family: "Roboto", sans-serif;
}

#about-container p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

#service-container img {
  height: 150px;
  width: 180px;
  text-align: center;
}

nav {
  min-height: 15vh;
  margin-bottom: 15vh !important;
  z-index: 15;
  position: fixed !important;
  width: 100%;
}

nav a {
  color: black !important;
  font-size: 28px;
  font-family: "Teko", sans-serif;
}

#home-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

#home-container h1,
h3 {
  z-index: 10;
}

#home-container::before {
  content: "";
  background-image: url(../images/home-background.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

#work-container {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  align-items: center;
  background-color: #fafae4 !important;
}

#contact-container {
  padding-top: 15vh;
  min-height: 100vh;
  align-items: center;
}

#work-container img {
  opacity: 0.7;
}

#work-container img:hover {
  opacity: 1;
}

#work-container p {
  font-size: 18px;
}

#service-container {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-self: auto;
  min-height: 85vh;
  align-items: center;
}

#about-container {
  padding-top: 15vh;
  min-height: 100vh;
  align-items: center;
  background-color: #fafae4 !important;
}

#home-container .column1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-container .column2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px !important;
}

@media only screen and (max-width: 600px) {
  #skills-section .row {
    display: flex;
    flex-direction: row;
    padding: 10px !important;
  }

  .follow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .follow a {
    margin-bottom: 10px;
  }

  iframe {
    width: 100%;
    margin-bottom: 10px;
  }

  #contact-container .col-md-5 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  #contact-container .contact {
    font-size: 25px;
  }

  #home-container #typed {
    margin-top: 70px !important;
  }

  #about-container .col-md-6 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  #about-container p {
    font-size: 18px;
  }

  .alert {
    font-size: 18px;
    text-align: center;
  }

  #home-container .display-3 {
    font-size: 60px;
  }

  #home-container h3 {
    text-align: unset;
    font-size: 28px;
  }

  #home-container img {
    margin-top: 100px;
    max-height: 50vh;
  }
}
